.container { 
    width: 50%; 
    height: 450px; 
    display: flex;
    gap: 1px; 
    padding: 10px;
    box-sizing: border-box; 
}

.container img {
    flex: 0 0 auto; 
    width: 20%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10000px;
    border: 2px solid black;
    transition: all ease-out 1s;
 
}

.container img:hover {
    width: 50%; 
     
}


body {
    font-family: Arial;
    background-image: url("images/bg1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
